/*///////Universal Styling//////*/


html, body {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Dosis', sans-serif;
}

* {
	font-family: 'Dosis', sans-serif;
	color: #4D838F;
}

.top-nav {
	padding: 10px;
}

nav a {
	text-decoration: none;
	color: #4D838F;
	margin-right: 10px;
	font-size: 1.2em;

}

/*///////Navigation//////*/

#logo img {
	padding: 10px;
}

a:link {
	color: #4D838F;
}

a:visited {
	color: #4D838F;
}

a:hover {
	font-weight: bold;
}

header nav {
	float: right;
}

/*///////Main background image//////*/

main {
	background-image: url(../images/qarth.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 780px;
	position: relative;
	display: block;
	margin-bottom: 0;
}

.inner h1, .inner h2 {
	color: white;
	display: block;
}

/*///////Body of main pages//////*/

h1 {
	font-size:3.2em;
}

h2 {
	font-size: 2em;
}

.intro {
	color: #827291;
	font-size: 1.5em;
	text-transform: uppercase;
}

.inner {
	position: absolute;
	left: 5%;
	top: 6%;
	line-height: 2em;
}

/*///////Main Pages Navigation Bar//////*/

.pages-list li {
	width: 20%;
	float: left;
	height: 75px;
	line-height: 75px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
}

.pages-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: ".";
	display:block;
	clear:both;
}

.product-tab {
	background-color: #d3d3d3;

}

.pricing-tab {
	background-color: #dbdbdb;
}

.testimonials-tab {
	background-color: #e4e4e4;
}

.about-tab {
	background-color: #d7d7d7;
}

.careers-tab {
	background-color: #e0e0e0;
}

/*///////Main Product Page//////*/

section {
	display: block;
	margin: 150px 100px 75px;
	font-size: 1.5em ;
}

#opening-credits {
	margin-top: 0px;
	width: auto;
	}

#opening-credits iframe {
	display: block;
	margin: 0 auto;
}

/*Footer*/

.social-media {
	width: 100%;
	text-align: center;
}

.social-media h3 {
	display: block;
	margin: 10px auto;
	text-transform: uppercase;

}

.social-media ul {
	display: inline-block;
	margin: auto;
	padding: 0;

}

.social-media li {
	list-style-type: none;
	margin: 0;
	float: left;

}

.social-media li a {
	display: block;
	padding: 10px;
}

.icon-credits {
	margin: 30px auto;
	text-align: center;
	font-size: .75em;
	line-height: 50%;
}

footer {
	margin: 100px 0px 0px;
	padding: 25px 0px;
	background-color: #e4e4e4;
	clear: both;
}


/*///////Pricing Page//////*/

.pricing-table, .testimonials, div#team {
	margin: 0;
	clear:both;
	display: block;
} 

.row {
	max-width: 1100px;
	margin: 0 auto;
	display: block;
	clear: both;
	padding-top: 50px;

}

.row:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

#exile-tier-title, #warlord-tier-title, #conqueror-tier-title {
	
	text-align: center;

}

#exile-tier-title h2, #warlord-tier-title h2, #conqueror-tier-title h2 {
	color: #827291;
}

.exile-tier-features, .warlord-tier-features, .conqueror-tier-features {
	list-style-type: none;

}

.unavailable {
	text-decoration: line-through;
	opacity: 0.5;
}

.tier-description {
	position: relative;
	text-align: center;
}

.tier-description a {
	background-color: #4D838F;
	padding: 10px 0;
	border-radius: 4px;
	display: block;
	width: 75%;
	margin: 0 auto;
}


.tier-description ul {
	text-align: left;

}

.tier-description li {
	margin: 20px auto;

}

.tier-description a:link {
	color: #fff;
	text-decoration: none;
}

.tier-description a:visited {
	color: #fff;
	text-decoration: none;
}


[class*="col-"] {
	float: left;
	margin-left:2%;
	width: 31.33%;
	position: relative;
}

/*///////Testimonials//////*/

.photo-left {
	float:left;
	width: 31%;
	margin: 0;
 	padding-left:2%;
 	position: relative;
}

.photo-right {
	float:right;
	width: 31%;
	margin: 0;
	position: relative;
}

.photo-right img {
	padding-left:3%;
	position: relative;
}

.story-left {
	float: left;
	width: 64%;
	padding-left:2%;
	margin: 0 auto;
	position: relative;
}

.story-right {
	float: left;
	width: 64%;
	margin:0 auto;
	position: relative;
}

.photo-left h4, .photo-right h4, .story-left h4, .story-right h4 {
 	color: #827291;
 	font-size: 1.5em;
 }

 .row img {
 	border-radius: 15px;
 	margin: 0 auto;
 }

 /*///////About//////*/

figcaption {
	text-align: center;
	font-size: .70em;
}

.team-photo h3 {
	color: #827291;
	font-size:1.4em;
}

/*Responsive Layout*/

@media (max-width:1100px)  {

	#team .col-1 {
	display: block;
	clear: both;
	padding-bottom: 5%;
	justify-content: center;
	width: 100%;
}

#team .row {
	max-width: 460px;
}

#team .col-1 .bio {
	width: 100%;
}

}

@media (max-width:750px)  {

	#pricing-table .col-1 {
	display: block;
	clear: both;
	padding-bottom: 5%;
	justify-content: center;
	width: 100%;
}

#pricing-table .row {
	max-width: 460px;
}

.tier-description {
	display: block;
	margin: 15px auto;

}

.tier-description ul {
	margin: 0 auto;
	width: 260px;
}

.tier-description a {
    background-color: #4D838F;
    padding: 10px 0;
    border-radius: 4px;
    display: block;
    width: 50%;
    margin: 0 auto;
}


}

@media (max-width:1100px) {

	.pages-list li {
		font-size:1.2em;
	}
}

@media (max-width:730px) {

	.pages-list li {
		font-size:1em;
		line-height: 60px;
		height: 60px;
	}

	section p, .intro {
		font-size: .70em;
	}

		#opening-credits {
		display: none;
	}

}

@media (max-width:580px) {

	.pages-list li {
		font-size:.8em;
		line-height: 40px;
		height: 40px;
	}

	section p, .intro {
		font-size: .9em;
	}

	#opening-credits {
		display: none;
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.5em;
	}

}


/*Sansa Stark - #3A6D88,#4D838F,#BE9158,#A45A1B,#80341C,#3A6D88,#4D838F,#BE9158*/

/* Jon Snow- #0E1F20,#102D2E,#747474,#9CC1C2,#4EACAE,#0E1F20,#102D2E,#747474;*/

/**White Walkers - #78BCDC,#659DC8,#539BCE,#2A5D91,#1A3A62,#78BCDC,#659DC8,#539BCE/